/* Styles Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input {
  outline: none;
}

input::placeholder {
  color: inherit;
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* App Styles */

:root {
  --colors-strong-cyan: hsl(172, 67%, 45%);
  --colors-cyan: hsl(173, 61%, 77%);
  --colors-very-dark-cyan: hsl(183, 100%, 15%);
  --colors-dark-grayish-cyan: hsl(186, 14%, 43%);
  --colors-grayish-cyan: hsl(184, 14%, 56%);
  --colors-light-grayish-cyan: hsl(185, 41%, 84%);
  --colors-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --colors-red: hsl(0, 100%, 79%);
  --colors-white: hsl(0, 0%, 100%);
}

body {
  font: 700 1rem 'Space Mono', monospace;
  background-color: var(--colors-light-grayish-cyan);
}

main {
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: 3rem;
  padding-top: 3rem;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
}

.app-logo {
  width: 6rem;
}

/* Calculator Form */

.calculator-form {
  display: grid;
  width: min(1024px, 100%);
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--colors-white);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

/* Calculator input */

.calculator-input {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem;
}

.label-primary {
  text-transform: capitalize;
  color: var(--colors-dark-grayish-cyan);
}

.label-primary > :first-child {
  margin-top: 0.5rem;
}

.input-primary {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--colors-very-light-grayish-cyan);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease-in;
}

.input-primary.focused,
.tip-selector input[type='radio']:checked + .input-primary {
  outline-color: var(--colors-strong-cyan);
}

.input-primary img {
  width: 0.75rem;
}

.input-primary input {
  width: 95%;
  border: none;
  background: transparent;
  text-align: right;
  font-size: 1.5rem;
  color: var(--colors-very-dark-cyan);
  caret-color: var(--colors-strong-cyan);
}

.input-primary.invalid {
  outline-color: var(--colors-red);
}

.input-primary + .error-message {
  color: var(--colors-red);
  margin-top: 0.5rem;
  text-align: right;
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.3s ease-in;
  transition-property: transform, opacity;
}

.input-primary.invalid + .error-message {
  opacity: 1;
  transform: translateY(0);
}

.tip-selector {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  text-align: center;
}

.tip-selector input[type='radio'] {
  display: none;
}

.tip-selector .tip {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  background-color: var(--colors-very-dark-cyan);
  color: var(--colors-white);
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease-in;
  transition-property: background-color, color;
}

.tip-selector .tip:hover {
  background-color: var(--colors-cyan);
  color: var(--colors-very-dark-cyan);
}

.tip-selector input[type='radio']:checked + .tip,
.tip-selector .tip:active {
  background-color: var(--colors-strong-cyan);
  color: var(--colors-very-dark-cyan);
}

/* Calculator output */

.calculator-output {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--colors-very-dark-cyan);
  border-radius: inherit;
}

.calculator-output .result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.calculator-output .result .key {
  color: var(--colors-white);
}

.calculator-output .result .key::after {
  content: '\a/ person';
  white-space: pre-wrap;
  font-size: 0.75em;
  color: var(--colors-grayish-cyan);
}

.calculator-output .result .value {
  color: var(--colors-strong-cyan);
  font-size: 2rem;
}

.calculator-output .result .value::before {
  content: '$';
}

.calculator-output button {
  padding: 0.75em 2em;
  border-radius: 0.5em;
  background-color: var(--colors-strong-cyan);
  color: var(--colors-very-dark-cyan);
  border: none;
  transition: background-color 0.3s ease-in;
}

.calculator-output button:not(:disabled):hover {
  background-color: var(--colors-cyan);
}

.calculator-output button:disabled {
  opacity: 0.3;
}

.calculator-output > :last-child {
  margin-top: auto;
}
